.txtbx{
  background-image: linear-gradient(
      to right, 
      rgb(53, 114, 226)0% , 
      rgba(114, 121, 216, 0.801)50%
    );
  
  border: 1px solid black;
  width: 75%;
  height: 500px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;  
}
.header{
  text-align: center; 
}
p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 800px;
  margin-left: 138px;
}

.line{
  border: 1px solid black;
  width: 190px;
  margin:auto ;
}

.underline{
  text-decoration: underline;
}
.rectangle{
  border-radius: 10px;
  border: 1px solid black;
  background: #ffffffec;
  width: 225px;
  height: 430px;
  float: inline-start;
  margin: auto;
  

}

li{
  margin: 10px 0px 10px 0px;
  }

.tick {
  list-style-image: url("https://img.icons8.com/ios-glyphs/18/checkmark--v1.png");
  }

 .close{
  list-style-image: url("https://img.icons8.com/sf-ultralight/18/000000/delete-sign.png" );
  color: #afb3b6a2 !important;
 } 
.btn-primary{
  width: 200px;
  display: block;
  margin: auto;
  border-radius: 15px;
}

.nav{
  float: inline-end;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/08/GUVI_logo.png');
  width: 100px;
  height: 34px;
  margin: 20px;
}