

.txtbx{
  background: rgb(156, 156, 212);
  border: 1px solid black;
  width: 65%;
  height: 500px;
  margin: auto;
}
.header{
  text-align: center;
  
}
.btn{
  text-align: center;
  width: 50px;
  font:bold ;
  /* background: blueviolet; */
  
}

.line{
  border: 1px solid black;
  width: 190px;
  margin:auto ;
}

.underline{
  text-decoration: underline;
}
.rectangle{
  border-radius: 10px;
  border: 1px solid black;
  background: wheat;
  width: 235px;
  height: 435px;
  float: left;
  /* margin: auto; */
  margin: 35px 25px 35px 25px;
}

.list{
  margin: 10px 0px 10px 0px;
  li:before { 
    content:"\2713\0020";
    
   }
  
.hide{

  text-transform: none;
  
}

.close{
  li:before 
/* { content: '\2715'; } */
{  content: '\2713\00D7'; }
}

.element:before {
  content: "d7";
}

}
ul {
  list-style-type: none;
}
.btn-primary{
  width: 200px;
  display: block;
  margin: auto;
  border-radius: 15px;
}